<div style="text-align: center;"><H2>{{ title }}</H2></div>
<table class="table table-bordered">
    <tr>
    {% for content in contents %}
        <td>{{ content }}</td>
    {% endfor %}
    </tr>
</table>