{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <form action="." method="post">
        {% csrf_token %}
        <label>Header: <input type="text" name="header"></label><br>
        <label>Footer: <input type="text" name="footer"></label><br>
        <input type="submit" value={% trans "Add site" %} class="btn btn-default">
    </form>
    {% if added_site %}
        {% trans "Added site" %}:<br>
        Header: {{ added_site.header }}<br>
        Footer: {{ added_site.footer }}
    {% endif %}
{% endblock %}
