{% extends "base.html" %}
{% block title %}
    <H1>Редактор</H1>
{% endblock %}
{% load i18n %}
{% block content %}
    <div style="text-align: center;"><H2>{{ site.header }}</H2></div>
    <hr>
    {% for block in blocks %}
        <div id="block-{{ block.order_number }}">
            {% comment %} Костыль. Нужно обсудить, как сделать лучше{% endcomment %}
            {% comment %}
                {% with block.template.file|cut:"siteeditor/templates/" as filepath %}
                    {% include filepath with contents=block.content title=block.title %}
                {% endwith %}
            {% endcomment %}
            <div style="text-align: center;"><H3>{{ block.title }}</H3></div>
            <div style="text-align: center;">{{ block.content }}</div>
            <hr>
        </div>
    {% endfor %}
    <form method="post" action="{% url 'edit_block' %}">
        {% csrf_token %}
        {{ block_form }}
        <input type="submit" class="btn btn-default" value="{% trans "Add block" %}">
    </form>
    <hr>
    <div style="text-align: center;"><H2>{{ site.footer }}</H2></div>
{% endblock %}