{% extends "base.html" %}
{% load i18n %}
{% block title %}
    <H1>{{ greeting }}</H1>
{% endblock %}

{% block content %}
    {% if sites %}
        {% trans "Click to an ID for edit" %}
        <table class="table table-hover table-bordered">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    HEADER
                </th>
                <th>
                    FOOTER
                </th>
            </tr>
            {% for site in sites %}

                <tr>
                    <td>
                        <a href="{% url 'edit_site' site.id %}">{{ site.id }}</a>
                    </td>
                    <td>
                        {{ site.header }}
                    </td>
                    <td>
                        {{ site.footer }}
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if sites.has_previous %}
                    <a href="{% url 'user_profile_page' sites.previous_page_number %} " class="previous">&larr;{% trans "Previous" context "Page" %}</a>
                {% endif %}
                <span class="current">
                    {% trans "Page" %} {{ sites.number }} / {{ sites.paginator.num_pages }}.
                </span>
                {% if sites.has_next %}
                    <a href="{% url 'user_profile_page' sites.next_page_number %} " class="next">{% trans "Next" context "Page" %}&rarr;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        {% trans "You have no sites!" %}
    {% endif %}
{% endblock %}
