{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{% block menu %}
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand">Landing</a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href={% url 'main_page' %}>{% trans "Main page" %}</a></li>
                <li><a href={% url "user_profile" %}>{% trans "Profile" %}</a></li>
                <li><a href={% url "add_site" %}>{% trans "Add site" %}</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href={% url 'auth_logout' %}>{% trans "Log out" %}</a></li>
                {% else %}
                    <li><a href={% url 'auth_login' %}?next={% url 'main_page' %}>{% trans "Log in" %}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
{% endblock %}
{% block title %}
    <H1>Landing</H1> <br>
{% endblock %}

{% block content %}

{% endblock %}
</body>

